<script src="/javascript/cart.js"></script>
{{!-- <div class="ms-5 mt-5">

  <div class="d-flex justify-content-start gap-3">
    <div class="mt-5 col-4 col-md-4">
      <div
        id="img-container"
        style="background-color: rgb(230, 230, 230);"
        class="row rounded-2"
      >

        <img
          id="mainImage"
          class="img-fluid"
          src="/uploads/cropped/{{productDetails.images.[0]}}"
          alt=""
        />

      </div>
      <div class="row">
        <div class="d-flex justify-content-start gap-2 mt-2">
          {{#each productDetails.images}}
            <div
              id="changeSrc"
              onclick="changeSrc('{{this}}')"
              class="rounded-1"
              style="background-color: grey;"
            >
              <img
                class="img-fluid"
                src="/uploads/cropped/{{this}}"
                alt=""
                srcset=""
                id="changeImg"
              />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="pt-5 col-7 col-md-6 ms-3">
      <div class="">
        <h5>Home / view product</h5>
        <h2 class="mt-4">{{productDetails.name}}</h2>
        <h3 class="mt-5">${{productDetails.offerPrice}}</h3>
        <div class="d-flex">
          <p>Available Size:</p>
          {{#each productDetails.size}}
            <input type="radio" name="size" class="custom-radio mb-2 ms-2" value="{{this}}" id="size-{{@index}}">
          <label for="size-{{@index}}">{{this}}</label>
          {{/each}}
        </div>
        <button onclick="addToCart('{{productDetails._id}}')" class="btn btn-success mt-1">Add to Cart</button>
      </div>
      <div class="mt-1 pt-2 row">
        <h3 class="d-none d-md-block">Product Details</h3>
        <p class="mt-5 d-none d-md-block">{{productDetails.description}}</p>
      </div>
    </div>
  </div>
</div>
<script
  src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js"
  type="application/javascript"
></script>



<script>
  const options = {
    width: 370,
    height: 320,
    zoomWidth: 2100,
    offset:{vartical: 0, horizontal: 10},
    scale: 1.5,  }
  new ImageZoom(document.getElementById("img-container"),options);
</script> --}}

<div class="container p-5 mt-5">
  <div class="row">
      <div class="col-sm-4 md-8">
        <div id="mainImageContainer" class="product-cover col-sm-12" style="border-right: 1px solid black;">
          <img
            src="/uploads/cropped/{{productDetails.images.[0]}}"
            id="mainImage"
            alt="Cover Image"
            class="img-fluid"
          />
        </div>
        <div class="row">
          {{#each productDetails.images}}
            <div
              class="product-images col-5 col-sm-3 mt-4 d-flex"
              onclick="changeSrc('{{this}}')"
            >
              <img
                src="/uploads/cropped/{{this}}"
                alt="Product Image 2"
                class="img-thumbnail"
              />
            </div>
          {{/each}}
        </div>
      </div>

      <div class="col-sm-8">

        <div class="product-info icons">
          <h2>{{productDetails.brand}}</h2>
          <div>Price
            <dt class="text-decoration-line-through">{{productDetails.BasePrice}}</dt>
            <dt>{{productDetails.offerPrice}}/-</dt>
          </div>
          <p>{{productDetails.description}}</p>
        </div>

        <h4>Sizes available</h4>
        <div class=" col-2 col-sm-2 d-flex gap-2">
          {{#each productDetails.size}}
          <label for="size-{{@index}}" class="containerforsize">
            <input type="radio" name="size" checked value="{{this}}"  id="size-{{@index}}"/>
            <span  class="sizeselected btn size-btn border btn-lg">{{this}}</span>
          </label>
          {{/each}}
        </div>
        <button onclick="addToCart('{{productDetails._id}}')" class="btn btn-success mt-4">Add to Cart</button>

      </div>
  </div>
</div>
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
<script>
  const options = {
    width: 350,
    height: 350,
    zoomWidth: 200,
    zoomheight: 200,
    offset: { vertical: 0, horizontal: 100 }
};

new ImageZoom(document.getElementById("mainImageContainer"), options);

</script>

<script>

  function changeSrc(id) {
  let imgElement = document.getElementById("mainImage")
    // Set the src attribute of the img element to the image URL
    imgElement.src = `/uploads/cropped/${id}`; // Replace 'image.jpg' with your image URL
    // Optionally, you can set other attributes like alt, width, and height
    imgElement.alt = 'Image Description';
    imageContainer.appendChild(imgElement);
  return id
  }
</script>

<style>
  .containerforsize input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.sizeselected {
  background-color: #eee;
}

.containerforsize input:checked ~ .sizeselected {
  background-color: #2196F3;
}
</style>